.btn-floating.halfway-fab {
    position: absolute;
    right: 35px;
    bottom: 12px
}


.modal.zopen {
    position: absolute;
    margin: auto;
    top: 0%;
    bottom: 20%;
    height: 200px;
    width: 300px;
    text-align: center
}

.modal .modal-footer {
    text-align: center
}