<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="shortcut icon" type="" href="/assets/favicon.ico" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link type="text/css" href="/css/styles.css" rel="stylesheet" />
    <link type="text/css" href="/css/accountActivation.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NutritionX - Activación de cuenta</title>
</head>

<body>

    <header>
        <nav>
            <div class="nav-wrapper" style="background-color:#59a52c;">
                <a href="/login" class="brand-logo" style="margin-top: .35%;">
                    <img class="img-fluid" width="250" style="height: auto;" src="https://github.com/arielrbv/universidadutiles/blob/main/svgexport-84.png?raw=true" />
                </a>
            </div>
        </nav>

    </header>

    <div class="container">
        <div class="row" style="margin-top: 50px; margin-bottom:50px;">
            <div class="col offset-l3 l6 m12 s12 center">
                <div class="center">
                    <h4 class="title">Su cuenta ha sido Activada</h4>
                    <svg id="asdd1" class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52" style="margin-top: 30px; margin-bottom: 30px;">
                        <circle id="asdd2" class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                        <path id="asdd3" class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                    </svg>
                    <h6>Ahora podrá iniciar sesión y disfrutar de los beneficios de una alimentación sana.</h6>
                    <a href="/login" class="btn" style="margin:20px; font-size: 14px;">Inicia Sesión</a>
                </div>
            </div>
        </div>
    </div>

    <!--################################### FOOTER #################################### -->
    <footer class="page-footer footer" style="background-color:#59a52c; ">
        <div class="container ">
            <div class="row">
                <div class="col l4 m12 s12">
                    <h5 class="white-text ">NutritionX vAlfa</h5>
                    <a class=" tooltipped text-decoration-none " data-position="right " data-tooltip="Funcionalidad aún no disponible ">
                        <p class="grey-text text-lighten-4 ">Terminos y Condiciones</p>
                    </a>
                </div>
                <div class="col l4 offset-l2 m12 s12">
                    <h5>Siguenos</h5>
                    <ul>
                        <li>
                            <a class="btn-floating btn-large waves-effect waves-light " style="background-color:#354a63; ">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="btn-floating btn-large waves-effect waves-light " style="background-color:#354a63; ">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn-floating btn-large waves-effect waves-light grey-text text-lighten-3 " style="background-color:#354a63; ">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="btn-floating btn-large waves-effect waves-light grey-text text-lighten-3 " style="background-color:#354a63; ">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright ">
            <div class="container center ">
                © 2021 Copyright - TFI Ariel Romero
            </div>
        </div>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript" src="/js/matminjs.js"></script>
    <script type="text/javascript" src="/js/general.js"></script>
</body>

</html>