<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Open+Sans" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <div clas="container">
      <div class="row g-0" style="margin-bottom: 0px;">
        <div>
          <nav>
            <div class="nav-wrapper" style="background-color:#59a52c;">
              <a href="#" class="brand-logo">
                <img src="https://github.com/arielrbv/universidadutiles/blob/main/svgexport-84.png?raw=true" style="padding-left: 7%;"></img>
              </a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                <i class="material-icons">menu</i>
              </a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                  <a class="waves-effect waves-light btn btn-flat">
                    <i class="material-icons left">power_settings_new</i>
                    Cerrar sesión
                  </a>
                </li>
              </ul>
            </div>
          </nav>

          <!--################################### SIDE NAV #################################### -->




          <!--################################### END SIDE NAV #################################### -->

        </div>
      </div>
      <div class="row g-0" style="margin-bottom: 0px;">
        <div class="col offset-s1 mb-0">
          <h4 th:text="'Bienvenido ' + ${patient.firstName}"></h4>
        </div>
      </div>
       <!--################################### USER CARD #################################### -->
      <div class="row g-0">
        <div class="col s0 m2 xl2 offset-xl1 d-none">
          <div class="card">
            <div class="card-image">
              <img src="https://github.com/arielrbv/universidadutiles/blob/main/sample-1.png?raw=true" />
              <span class="card-title">
                <b>
                  <p th:text="${patient.firstName}+' '+${patient.lastName}" style="margin-top: 0px;margin-bottom: 0px;" />
                </b>
              </span>
              <a class="btn-floating halfway-fab waves-effect waves-light red">
                <i class="material-icons">edit</i>
              </a>

            </div>
            <div class="card-content">
              <strong>Peso actual: </strong>
              <span th:text="${patient.weight} +' Kg'"></span>
              <br />
              <br />
              <strong style="vertical-align:text-bottom;">
                <i class="tiny material-icons">insert_chart</i>
                Evolución de tu peso
              </strong>
              <div class="card-image" style="margin-top: 10px;">
                <a class=" tooltipped" data-position="right" data-tooltip="Funcionalidad aún no disponible">
                  <img src="https://github.com/arielrbv/universidadutiles/blob/main/chart.png?raw=true" />
                </a>
              </div>
            </div>
            <div class="card-action center">
              <a class=" tooltipped" style="margin-right: 0px;" data-position="right" data-tooltip="Funcionalidad aún no disponible">Blog de recetas</a>
            </div>
          </div>
        </div>
        <!--################################### MENU THINGS #################################### -->
        <div class="col s12 m5 xl4  ">
          <div class="card-panel green lighten-5 z-depth-2  center">
            <a class="btn-floating pulse btn-large waves-effect waves-light green lighten-1 center">
              <i class="material-icons">touch_app</i>
            </a>
            <p>Aún no tienes un Plan Nutricional asigado, solicta uno aqui.</p>
          </div>
        </div>
        <!--################################### DOCTOR THINGS #################################### -->
        <div class="col s12 m5 xl4">
          <div class="card-panel green lighten-5 z-depth-2 center">
            <i class="large material-icons">person_pin</i>
            <p>Solicita un Plan Nutricional para conocer a tu Nutricionista</p>
          </div>
      </div>
    </div>
  </div>
    <!--################################### FOOTER #################################### -->
    <footer class="page-footer" style="background-color:#59a52c;">
      <div class="container">
        <div class="row g-0">
          <div class="col l6 s12">
            <h5 class="white-text">NutritionX vAlfa</h5>
            <a class=" tooltipped" data-position="right" data-tooltip="Funcionalidad aún no disponible">
              <p class="grey-text text-lighten-4">Terminos y Condiciones</p>
            </a>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5>Siguenos</h5>
            <ul>
              <li>
                <a class="btn-floating btn-large waves-effect waves-light" style="background-color:#354a63;">
                  <i class="fab fa-instagram"></i>
                </a>
                <a class="btn-floating btn-large waves-effect waves-light " style="background-color:#354a63; margin-left: 11px;">
                  <i class="fab fa-facebook-f lead m-2"></i>
                </a>
                <a class="btn-floating btn-large waves-effect waves-light grey-text text-lighten-3"
                  style="background-color:#354a63; margin-left: 8px;">
                  <i class="fab fa-twitter lead m-2"></i>
                </a>
                <a class="btn-floating btn-large waves-effect waves-light grey-text text-lighten-3"
                  style="background-color:#354a63; margin-left: 8px;">
                  <i class="fab fa-youtube"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2021 Copyright - TFI Ariel Romero
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/popup.js"></script>
  </body>
</html>